<h1>Checkout</h1>

<h2>Your Order Summary</h2>

<%= form_with model: @customer,
              url: orders_path,
              method: :post,
              local: true,
              data: { turbo: false } do |f| %>

  <h3>Customer Information</h3>

  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div>
    <%= f.label :province %><br>
    <%= f.select :province, [["Manitoba", "MB"], ["Ontario", "ON"], ["British Columbia", "BC"], ["Quebec", "QC"], ["Saskatchewan", "SK"]], include_blank: "Select province" %>
  </div>

  <div>
    <%= f.label :postal_code %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div style="margin-top: 1rem;">
    <%= f.submit "Place Order" %>
  </div>

  <% if user_signed_in? %>
  <p>We’re using your saved address from your account. You can update it in “Edit Account”.</p>
  <% end %>

<% end %>
